@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 * {
   padding: 0;
   margin: 0;
 }
  .imgBack{
    height: 380px;
    width: 380px;
  }
  .background{
    background-color: #010024;
      color: #F4F7F5;
      border: 1px solid #010024 ;
  }
 .night {
   background-color: #010024;
   color: #F4F7F5;
   font-family: 'Poppins';
 }

 .day {
   background-color: #efeef8;
   color: #000000;
   font-family: 'Poppins';
 }

 .right ul li a {
   text-decoration: none;
   color: whitesmoke;
   font-family: 'Poppins';
   font-weight: 600;
   margin: 0px 19px;

 }

 .right ul li a:hover {
   color: rgb(113, 113, 181);
 }

 .right ul {

   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 65px;

 }

 /*Main Bodies of Nav*/
 .nightnav {
   font-size: 16px;
   display: flex;
   justify-content: space-between;
   height: 70px;
   background-color: rgb(0, 0, 53);
   color: #bfddca;
 }

 .daynav {
   font-size: 16px;
   display: flex;
   justify-content: space-between;
   height: 70px;
   background-color: rgb(95, 96, 99);
 }

 .left {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30%;
   font-size: 22px;
   font-weight: 700;

 }

 .right {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 60%;
   color: aqua;
 }


 /*Second Part*/

 .firstsection {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 100px 0px;
    font-weight: 600;
   /* part differentiating both the sections */
 }

 .leftsection {
   width: 43%;

   margin-right: 80px;
   font-size: 40px;

 }

 .rightsection {
   width: 30%;

 }

 #namewala {
   color: purple;
 }

 .element {
   color: purple;
 }

 #hr {
   border: 0;
   background-color: rgb(86 86 189);
   height: 1.2px;
   margin: 45px 50px;
 }

 #grey {
   color: grey;
 }

 .secondsection {
   width: 85%;
   margin: auto;
   height: 80vh;
 }

 .secondsection p {
   font-size: 22px;
   font-weight: 600;
 }

 .box {
   background-color: white;
   width: 100%;
   height: 2px;
   margin: 40px auto;
   display: flex;
   justify-content: space-around;
 }

 .vertical {
   height: 120px;
   width: 2px;
   background-color: white;
 }

 .verticaltext {

   position: relative;
   margin: 120px 0px;
   width: 140px;
   font-size: 13px;
 }

 #but {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin: 20px;
 }

 .but {
   margin: 60px 20px;
   width: 46%;
   height: 33px;
   font-size: 16px;
   font-family: 'Poppins';

   background-color: rgb(0, 0, 53);
   color: #F4F7F5;
   border: 1px solid violet;
   border-radius: 8px;

 }

 .but:hover {
   color: rgb(113, 113, 181);
 }

 #mode {
   background-color: rgb(0, 0, 53);
   border: none;
 }
 .centerFoot {
   font-family: "ABeeZee", sans-serif;
   height: 18rem;
   text-align: center;
   background-color: #010012;
   color: whitesmoke;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .centerFoot div {
   background-color: #010012;
   color: whitesmoke;
 }

 .centerFoot p {
   background-color: #010012;
   color: whitesmoke;
   margin-top: 1rem;
 }

 .firstFooter {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: row;
 }

 .FooterLeft {
   width: 40%;
   font-size: 0.8rem;
   /* border: 1px solid white; */
 }

 .FooterRight {
   width: 40%;
   font-size: 0.8rem;
   /* border: 1px solid white; */
 }

 .FooterLeftHead {
   font-size: 2rem;
 }

 .socials {
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;
 }
 .sociallogo{
  font-size: 1.5rem;
  
  
 }
 .wrapper {
   height: 100vh;
   /*This part is important for centering*/
   display: grid;
   place-items: center;
 }

.anchor{
    text-decoration: none;
      color: whitesmoke;
      font-family: 'Poppins';
} 
.anchor:hover{
  color: rgb(113, 113, 181);
  cursor: pointer;
}
.socialsLink{
  color: #bfddca;
}